{
    "openapi": "3.0.0",
    "info": {
        "title": "Documentation des APIs de Nekiema BTP",
        "description": "Implementation avec Swagger par Asher Services",
        "contact": {
            "email": "mianahissan@protonmail.com"
        },
        "license": {
            "name": "Nekiema Protected",
            "url": "https://www.nekiema.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://core.nekemia.com/api",
            "description": "Nekiema Service Server"
        }
    ],
    "paths": {
        "/authenticate": {
            "post": {
                "tags": [
                    "OAuth"
                ],
                "summary": "Authentification",
                "description": "OAuthLogin",
                "operationId": "loginApi",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "example": "email"
                                    },
                                    "password": {
                                        "example": "password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Connexion Réussie"
                    }
                }
            }
        },
        "/register": {
            "post": {
                "tags": [
                    "OAuth"
                ],
                "summary": "Inscription de l'utilisateur",
                "description": "Informations de l'utilisateurs",
                "operationId": "Inscription",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {},
                                    "email": {},
                                    "password": {}
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Opération Réussie"
                    },
                    "200": {
                        "description": "Inscription réussie"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/admin": {
            "post": {
                "tags": [
                    "Administrateur"
                ],
                "summary": "CREATE ADMINISTRATOR",
                "description": "CREATE ADMINISTRATOR",
                "operationId": "createAdmin",
                "requestBody": {
                    "description": "Transmettre les informations",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "full_name": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string"
                                    },
                                    "contact": {
                                        "type": "string"
                                    },
                                    "pseudo": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Opération éffectuée",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "403": {
                        "description": "Interdit"
                    },
                    "400": {
                        "description": "Mauvaise demande"
                    },
                    "404": {
                        "description": "pas trouvé"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/blog?page={page}": {
            "post": {
                "tags": [
                    "BLOG"
                ],
                "summary": "GET ALL BLOG",
                "description": "GET ALL BLOG",
                "operationId": "getAllFaqBlogAPI",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Transmettre les informations",
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "search": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Opération éffectuée",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "object": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "data": {
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "integer",
                                                                    "format": "number",
                                                                    "example": "0"
                                                                },
                                                                "category_id": {
                                                                    "type": "string"
                                                                },
                                                                "slug": {
                                                                    "type": "string"
                                                                },
                                                                "admin_id": {
                                                                    "type": "integer"
                                                                },
                                                                "cover_path": {
                                                                    "type": "string"
                                                                },
                                                                "title": {
                                                                    "type": "string"
                                                                },
                                                                "content": {
                                                                    "type": "string"
                                                                },
                                                                "created_at": {
                                                                    "type": "string"
                                                                },
                                                                "update_at": {
                                                                    "type": "string"
                                                                },
                                                                "delete_at": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "error": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "403": {
                        "description": "Interdit"
                    },
                    "400": {
                        "description": "Mauvaise demande"
                    },
                    "404": {
                        "description": "pas trouvé"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/blog/{slug}": {
            "get": {
                "tags": [
                    "BLOG"
                ],
                "summary": "GET BLOG BY SLUG",
                "description": "GET BLOG BY SLUG",
                "operationId": "getBlogBySlugdAPI",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Opération éffectuée",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "object": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "data": {
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "integer",
                                                                    "format": "number",
                                                                    "example": "0"
                                                                },
                                                                "category_id": {
                                                                    "type": "string"
                                                                },
                                                                "slug": {
                                                                    "type": "string"
                                                                },
                                                                "admin_id": {
                                                                    "type": "integer"
                                                                },
                                                                "cover_path": {
                                                                    "type": "string"
                                                                },
                                                                "title": {
                                                                    "type": "string"
                                                                },
                                                                "content": {
                                                                    "type": "string"
                                                                },
                                                                "created_at": {
                                                                    "type": "string"
                                                                },
                                                                "update_at": {
                                                                    "type": "string"
                                                                },
                                                                "delete_at": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "error": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "403": {
                        "description": "Interdit"
                    },
                    "400": {
                        "description": "Mauvaise demande"
                    },
                    "404": {
                        "description": "pas trouvé"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/blog/last/five": {
            "get": {
                "tags": [
                    "BLOG"
                ],
                "summary": "GET LAST FIVE BLOG",
                "description": "GET LAST FIVE BLOG",
                "operationId": "getLastFiveBlogAPI",
                "responses": {
                    "200": {
                        "description": "Opération éffectuée",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "object": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "data": {
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "integer",
                                                                    "format": "number",
                                                                    "example": "0"
                                                                },
                                                                "category_id": {
                                                                    "type": "string"
                                                                },
                                                                "slug": {
                                                                    "type": "string"
                                                                },
                                                                "admin_id": {
                                                                    "type": "integer"
                                                                },
                                                                "cover_path": {
                                                                    "type": "string"
                                                                },
                                                                "title": {
                                                                    "type": "string"
                                                                },
                                                                "content": {
                                                                    "type": "string"
                                                                },
                                                                "created_at": {
                                                                    "type": "string"
                                                                },
                                                                "update_at": {
                                                                    "type": "string"
                                                                },
                                                                "delete_at": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "error": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "403": {
                        "description": "Interdit"
                    },
                    "400": {
                        "description": "Mauvaise demande"
                    },
                    "404": {
                        "description": "pas trouvé"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/category": {
            "post": {
                "tags": [
                    "Category"
                ],
                "summary": "CREATE CATEGORY",
                "description": "CREATE CATEGORY",
                "operationId": "createCategory",
                "requestBody": {
                    "description": "Transmettre les informations",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "label": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Opération éffectuée",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "403": {
                        "description": "Interdit"
                    },
                    "400": {
                        "description": "Mauvaise demande"
                    },
                    "404": {
                        "description": "pas trouvé"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/message": {
            "post": {
                "tags": [
                    "Message"
                ],
                "summary": "CREATE MESSAGE",
                "description": "CREATE MESSAGE",
                "operationId": "createMessage",
                "requestBody": {
                    "description": "Transmettre les informations",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "full_name": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string"
                                    },
                                    "contact": {
                                        "type": "string"
                                    },
                                    "object": {
                                        "type": "string"
                                    },
                                    "message": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Opération éffectuée",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "403": {
                        "description": "Interdit"
                    },
                    "400": {
                        "description": "Mauvaise demande"
                    },
                    "404": {
                        "description": "pas trouvé"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/faq?page={page}": {
            "get": {
                "tags": [
                    "FAQ"
                ],
                "summary": "GET FAQ",
                "description": "GET FAQ",
                "operationId": "getAllFaqAPI",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Opération éffectuée",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "object": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "data": {
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "integer",
                                                                    "format": "number",
                                                                    "example": "0"
                                                                },
                                                                "question": {
                                                                    "type": "string"
                                                                },
                                                                "answer": {
                                                                    "type": "string"
                                                                },
                                                                "order": {
                                                                    "type": "integer"
                                                                },
                                                                "created_at": {
                                                                    "type": "string"
                                                                },
                                                                "update_at": {
                                                                    "type": "string"
                                                                },
                                                                "delete_at": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "error": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "403": {
                        "description": "Interdit"
                    },
                    "400": {
                        "description": "Mauvaise demande"
                    },
                    "404": {
                        "description": "pas trouvé"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/question": {
            "post": {
                "tags": [
                    "Question"
                ],
                "summary": "CREATE QUESTION",
                "description": "CREATE QUESTION",
                "operationId": "createQuestion",
                "requestBody": {
                    "description": "Transmettre les informations",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "full_name": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string"
                                    },
                                    "question": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Opération éffectuée",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    },
                    "403": {
                        "description": "Interdit"
                    },
                    "400": {
                        "description": "Mauvaise demande"
                    },
                    "404": {
                        "description": "pas trouvé"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "name": "bearerAuth",
                "in": "header",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            },
            "passport": {
                "type": "basic",
                "description": "Nekiema APIs Authentification.",
                "in": "header",
                "scheme": "http",
                "flows": {
                    "password": {
                        "authorizationUrl": "https://core.nekemia.com/oauth/authorize",
                        "tokenUrl": "https://core.nekemia.com/oauth/token",
                        "refreshUrl": "https://core.nekemia.com/token/refresh",
                        "scopes": []
                    }
                }
            }
        }
    }
}